@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    
}


:root {
    --font-family: 'Poppins', sans-serif;
    --color-primary: #fffffff6; 
    --color-primary-light: #d308ee81;
    --color-primary-variant: rgb(255, 219, 59); 
    --color-green: green; 
    --color-green-light: rgb(0, 54, 0);  
    --color-blue: blue; 
    --color-blue-light: rgb(0, 0, 87); 
    --color-gray-900: white; 
    --color-gray-700: white; 
    --color-gray-300: rgb(190, 0, 207); 
    --color-gray-200: brown;
    --color-black: black; 
    --color-bg: rgba(0, 0, 255, 0.116); 

    --transition: all 300ms ease; 

    --cotainer-width-lg: 74%;
    --container-width-md: 88%; 
    --Form-width: 40%

    --card-border-radius-1: 0.3rem; 
    --card-border-radius-2: 0.5rem; 
    --card-border-radius-3: 0.8rem; 
    --card-border-radius-4: 2rem; 
    --card-border-radius-5: 5rem; 

}

/* ========================================================================================
GENERAL
===========================================================================================
*/

* {
    /* margin: 0; */
    /* padding: 0; */
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6; 
    color: black;
    overflow-x: hidden;
    background: var(--color-primary);
    font-size: 0.9rem;
    
}

.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;

}

section {
    margin-top: 3rem;
    width: 100vw;

}



h1 {
    font-size: 3rem;
    margin: 1rem;
}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    image-rendering: 0.8rem 0 0.5rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: black;
    transition: var(--transition);
}

img {
    width: 10%;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}


/* NAV BAR */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    color: blue;
    text-shadow: 2px 2px 5px #1279ff;
    font-weight: 700;
}

.navbar a {
    font-size: 1.5rem;
    color: rgb(1, 18, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    border-bottom: solid transparent 3px;
    transition: .3s ease;
}

.navbar a:hover {
    color: rgb(0, 0, 0);
    border-bottom: solid rgb(0, 0, 0) 3px;
    transition: .3s ease;
}
 @media(max-width:898px){
    header{
        padding: 4%;
    }
    navbar a{
        margin: 10px;
        transition: .3s ease;
    }
 }
 

.icon {
    font-size: 2.8rem;
    color: black;
    cursor: pointer;
    display: none;
}

.icon:hover {
    color: rgb(68, 0, 255);
}





/* ============================================= CATEGORY BUTTON =================================================== */

.category_button {
    background: black;
    color: var(--color-blue);
    display: inline-block;
    padding: 0rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 4rem;
}

.category_button:hover {
    color: rgb(24, 122, 214);

}

/* LOG IN */

#log-in {
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;  
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
}

body {
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
}

.container {
    display: flex;
    flex-wrap:wrap ;
    height: 80vh;
    border-radius: 50px;
    box-shadow: 0 5px 15px white;
    margin-top: 6rem;
    position: relative;
    overflow: hidden;
    width: 785px;
    max-width: 100%;
    min-height: 10px;

}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-decoration: none;
    margin: 15px 0 10px;
    gap: 6rem;
}

.btn-log-in {
    background-color:rgb(83, 85, 219);
    font-size: 9px;
    padding: 5px 45px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}


.container button.hidden {
    background-color:rgb(253, 23, 111);
    border-color:rgba(255, 255, 255, 0.877);
    color: rgba(0, 0, 0, 0.877);
    box-shadow: 10px 5px 3px rgb(114, 113, 113);
}

.container button.hidden:hover {
    color: #000000;
    background-color: whitesmoke;
}



.container form {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: rgb(195, 210, 228);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position :absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}


.container.active .sign-in {
    transform: translateX(100%);
}



.social-icons {
    margin: 10px;
}

.social-icons a{
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 20px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 150px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0px;
}

.toggle {
   
    background-color: rgb(0, 129, 250);
    height: 100%;
    background: linear-gradient(to right, rgb(48, 48, 255), rgb(144, 144, 240),);
    color: rgb(255, 255, 255);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    
    overflow: hidden;
    transform: translateX(0);
    transition: all 0.6ss ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%)
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200);
}

.form-container {
    position :absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   
}

.welcome-heading {
    color: rgb(68, 0, 255);
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

.welcome-heading h1{
    font-size: 5rem;
    text-shadow: 2px 2px 5px #080cee;
   margin-bottom: 0rem;
}

.welcome-heading h3 {
    color: #ff0ea3;
    text-shadow: 2px 2px 5px #6d6d79;
    font-size: 2rem;
}
p {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(36, 80, 226);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: .3s ease;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
}
.btn:hover {
    color: black;
    background-color: rgb(80, 0, 155);
}



#blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: rgb(255, 255, 255);
}

.blog-heading {
    color: rgb(68, 0, 255);
    font-size: medium;
    font-weight: 600;
    text-align: center;
}
.blog-heading p {
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #a8a590;
}

.blog-heading h1{
    font-size: 5rem;
    text-shadow: 2px 2px 5px #080cee;
   margin-bottom: 0rem;
}

.blog-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1050px;
    width: 90%;
    margin-top: 50px;
}

.blog-box {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
}

.blog-box:hover {
    background-color: white;
    box-shadow: 16px 20px 50px black;
}

.blog-box-img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
}


.blog-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
}

.blog-img-link {
    color: rgb(0, 183, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    justify-content: center; 
    align-items: center;
    background-color: rgb(255, 255, 255); 
    color: black; 
    box-shadow: 2px 2px 30px rgb(6, 172, 223); 
    animation: fade 0.3s;
}

.blog-box:hover .blog-box-img a{
    display: flex; 
}

.blog-box:hover .blog-box-img img{
    filter: blur(3px);
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.blog-box-text {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 20px 10px;

}
.blog-box-text strong, 
.blog-box-text p{
    color: grey;
    font-size: 0.9rem;
    font-weight: 400;
}

.blog-box-text a{
    font-size: 1.4rem;
    color: rgb(10, 136, 253);
    font-weight: 800;
    line-height: 1.8rem;
    margin: 5px 0px 10px 0px;
}
.blog-box-text a:hover {
    color:rgb(13, 48, 247);
}

.blog-box-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.blog-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.blog-author-img img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

.blog-author-text {
    display: flex;
    flex-direction: column;
}

.blog-author-text strong {
    color: grey;
    font-weight: 800;
}

.blog-author-text span{
    color: rgb(29, 13, 255);
    font-size: 0.8rem;
    font-weight: 500;
}

.interaction-icons {
    margin-top: 10px;
}

.comment-icon, .like-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.comment-icon:hover, .like-icon:hover{
    color: #d308ee81;
}



/**==making-responsive=====================*/
@media(max-width:920px) {
    .blog-box-container{
        grid-template-columns:1fr 1fr;
        grid-gap: 10px 0px;
    }

    @media(max-width:600px){
        .blog-box-container{
            grid-template-columns: 1fr;
        }
        .blog-heading h1{
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

    }

}


#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    background: url(images/background-sub.jpg) no-repeat;
    background-size: cover;
    background-position: center;  
   
}

.subscribe-heading {
    color: rgb(111, 0, 255);
    text-shadow: 2px 2px 5px #d308ee81;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

#subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  #subscribe-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #subscribe-form input[type="email"] {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 5px solid #0081fa;
    border-radius: 30px;
  }
  
  .btn-subscribe {
    background-color: #6a0085;
    border: none;
    color: rgb(125, 1, 150);
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  #subscribe-form button:hover {
    background-color: #f100bd;
    color: black;
  }
  
  #status {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }


  #blog-post1 {
    padding: 50px 0;
    background-color: #ffffff;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #blog-post1 .blog-post1-container {
    max-width: 800px;
    width: 100%;
  }
  
  #blog-post1 .blog-post1-image {
    flex: 1 1 40%;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
  }
  
  #blog-post1 .blog-post1-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  }
  
  #blog-post1 .blog-post1-image img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    max-height: 800px;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
  }
  
  #blog-post1 .blog-author {
    flex: 1 1 30%;
    margin-bottom: 30px;
  }
  
  #blog-post1 .blog-author-text {
    margin-top: 10px;
  }
  
  #blog-post1 .blog-post1-text {
    flex: 1 1 100%;
  }
  
  #blog-post1 .blog-post1-text strong {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #blog-post1 .blog-post1-text p {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  
.wrapper {
    width: 500px;
    padding: 2rem 1rem;
    margin: 150px auto;
    background-color: #0c0fc7;
    border-radius: 20px 60px 40px;
    text-align: center;
    box-shadow: 0 20px 35px rgb(129, 0, 141);
    

}

.wrapper h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1.2rem;
}

form input {
    width: 100%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: white;
}

button {
    font-size: 1rem;
    font-weight: 900;
    color: #0081fa;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 120px;
}

button:hover {
    color: #000000;
    background-color: #f100bd;
}

#checkbox{
    position: relative;
    text-align: center;
    align-items: center;
}

#dash-board{
    background: url(images/background-ed.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.container-dashboard {
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;
}
.container-dashboard .welcome-heading {
    color: #5b0072;
}

.container-dashboard h3 {
    color: #0c0fc7;
}
.dashboard-content {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.dashboard-content p {
    color: rgb(0, 0, 0);
}

.chart-container {
    width: 48%;
}

.data-table {
    width: 48%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}


  #add-post {
    background: url(images/background-ed.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .add-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .add-post-page h1 {
    font-size: 2.5rem;
    margin-top: 7rem;
    color: rgb(73, 7, 253);
    text-shadow: 1px 2px 5px #322fe6;
  }
  
  .add-post-page form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    color: #000000;
  }
  
  .add-post-page label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .add-post-page input,
  .add-post-page textarea {
    border: 1px solid #510086;
    border-radius: 20px;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  .add-post-page button {
    background-color: #ba0dff;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .container-edit-posts { max-width: 1200px; margin: 0 auto; padding: 2rem; }

.post-list { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 1rem; }

.post { background-color: #f2f2f2; padding: 1rem; position: relative; }

.edit-btn, .delete-btn { background-color: #1c98e0; color: white; padding: 5px 10px; border:#0081fa; cursor: pointer; font-size: 14px; margin-top: 10px; }

.edit-btn:hover, .delete-btn:hover { background-color: #a5009d; }

.modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fefefe; padding: 20px; z-index: 1000; display: none; }

.modal-content { max-width: 400px; margin: 0 auto; }

.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; display: none; }

.edit-post-modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fefefe; padding: 20px; z-index: 1000; display: none; }

.edit-post-modal-content { max-width: 600px; margin: 0 auto; position: relative; }

.close-edit-btn { position: absolute; top: 10px; right: 15px; font-size: 24px; cursor: pointer; }


.footer {
    
    left: 0;
    right: 0;
    padding: 2rem;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
  










